@import "../../variables.scss";

// NEW POEM PAGE HEADER
.NewPoemHeaderContainer {
  display: flex;
  padding: 180px $PAGE_MARGINS 60px $PAGE_MARGINS;
  width: 100%;
  background: $TEXT_COLOR_DARK;
}

.NewPoemHeaderContainer * {
  color: $TEXT_COLOR_LIGHT;
}

.NewPoemHeaderContainer a:hover {
  color: $SECONDARY_COLOR;
}

.NewPoemImageSelector {
  display: grid;
  place-items: center;
  height: 250px;
  width: 250px;
  border: 2.5px solid $SECONDARY_COLOR;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.NewPoemImageSelector svg {
  height: 60px;
  transform: translateY(-30px) translateX(-20px);
  transition: transform 300ms ease;
}

.NewPoemImageSelector:hover svg {
  transform: translateY(-30px) translateX(-20px) scale(1.1);
}

.NewPoemHeaderContainer .NewPoemDetails {
  margin-left: 40px;
}

.NewPoemHeaderContainer .NewPoemDetails .NewPoemTitle {
  text-indent: 0;
  padding: 0;
  border: none;
  font-size: 50px;
  font-family: "GD-Sage", $FONT_FAMILY;
  color: $SECONDARY_COLOR;
}

// NEW POEM CONTENTS CONTAINER
.NewPoemContentsContainer {
  padding: 40px $PAGE_MARGINS;
}

.NewPoemContentsContainer textarea {
  border: none;
  font-family: "Baskerville Old Face", "Times New Roman", serif;
  background: $TEXT_COLOR_LIGHT;
  font-size: 20px;
}
