@import "../../variables.scss";

.PoemPageHeader {
  width: 100%;
  height: auto;
  background-color: $TEXT_COLOR_DARK;
  background-position: center;
  position: relative;
}

.BackgroundDiffuser {
  padding: 40px $PAGE_MARGINS;
  height: 100%;
  width: 100%;
  background: transparentize($TEXT_COLOR_DARK, 0.15);
}

.PoemPageHeader .PoemInformationContainer {
  display: flex;
  width: 100%;
  color: $BACKGROUND_COLOR;
  z-index: 2;
}

.PoemPageHeader .PoemThumbnailImage {
  height: 250px;
  width: 250px;
  border: 2.5px solid $BACKGROUND_COLOR;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.PoemPageHeader .PoemDetailsContainer {
  padding: 0 $PADDING;
}

.PoemPageHeader .PoemDetailsContainer .PoemTitle {
  background-color: transparent;
  color: $SECONDARY_COLOR;
  padding: 0;
  margin: 0;
}

.PoemPageHeader .PoemDetailsContainer .PoemAuthor,
.PoemPageHeader .PoemDetailsContainer .PoemAuthor * {
  //   font-size: 20px;
}

.PoemPageHeader .PoemDetailsContainer .PoemDescription {
  color: transparentize($TEXT_COLOR_LIGHT, 0.3);
}

.PoemPageHeader a {
  color: $BACKGROUND_COLOR;
}

.PoemPageHeader a:hover {
  color: $SECONDARY_COLOR;
}

.PoemPageHeader .PoemMetadataItems {
  margin-top: 10px;
}

.PoemPageHeader .PoemMetadataItems tbody tr td:not(:first-child) {
  padding: 0 10px;
}
