.CommentsSection .Comment {
  display: flex;
  border-bottom: 1px solid darkgrey;
  padding: 10px 0; }

.CommentsSection .CommentActions {
  display: flex;
  gap: 10px; }

.CommentsSection .CommentActionButtons {
  display: flex;
  flex-direction: column;
  margin-right: 20px; }

.CommentsSection .CommentActionButtons > div {
  height: 20px; }

.CommentsSection .CommentActionButtons svg:hover {
  cursor: pointer; }

.CommentsSection .CommentActionButtons .Like:hover svg {
  fill: #1436ad;
  height: 22px; }

.CommentsSection .CommentActionButtons .Flag:hover svg {
  fill: orangered; }

.CommentsSection .CommentMoreActions {
  margin-top: 10px; }

.CommentsSection .CommentMoreActions a {
  margin: 0 5px; }

.CommentsSection .CommentorNameDate {
  display: inline-block; }

.CommentsSection .CommentorNameDate a {
  font-weight: 900;
  color: #1436ad; }

.CommentsSection .PostCommentField {
  margin-top: 10px; }

.CommentsSection .PostCommentField textarea {
  border-bottom: 3px solid #000000 !important; }

.CommentsSection .PostCommentField textarea:focus {
  border-color: #ebc952 !important; }
