@import "../../variables.scss";

// POST COMMENT FIELD
.CommentsSection .PostCommentField {
  margin-top: 10px;
}

.CommentsSection .PostCommentField textarea {
  border-bottom: $BORDER !important;
}

.CommentsSection .PostCommentField textarea:focus {
  border-color: $SECONDARY_COLOR !important;
}
