@import "../../variables.scss";
.CommentsSection .Comment {
  display: flex;
  border-bottom: 1px solid darkgrey;
  padding: 10px 0;
}

// COMMENT ACTION BUTTONS
.CommentsSection .CommentActions {
  display: flex;
  gap: 10px;
}

.CommentsSection .CommentActionButtons {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.CommentsSection .CommentActionButtons > div {
  // margin-bottom: 5px;
  height: 20px;
}

.CommentsSection .CommentActionButtons svg:hover {
  cursor: pointer;
}

.CommentsSection .CommentActionButtons .Like:hover svg {
  fill: $PRIMARY_COLOR;
  height: 22px;
}

.CommentsSection .CommentActionButtons .Flag:hover svg {
  fill: $DANGER_COLOR;
}

// COMMENT MORE ACTIONS
.CommentsSection .CommentMoreActions {
  margin-top: 10px;
}

.CommentsSection .CommentMoreActions a {
  margin: 0 5px;
}

// COMMENTOR DETAILS
.CommentsSection .CommentorNameDate {
  display: inline-block;
}

.CommentsSection .CommentorNameDate a {
  font-weight: 900;
  color: $PRIMARY_COLOR;
}

// POST COMMENT FIELD
.CommentsSection .PostCommentField {
  margin-top: 10px;
}

.CommentsSection .PostCommentField textarea {
  border-bottom: $BORDER !important;
}

.CommentsSection .PostCommentField textarea:focus {
  border-color: $SECONDARY_COLOR !important;
}
