.Poet {
  border: 3px solid #000000;
  text-align: center;
  padding: 10px;
  text-decoration: none !important;
  transition: background 300ms ease, color 300ms ease; }

.Poet:hover {
  background: #000000;
  color: #ffffff; }

.Poet:hover .PoetAvatar {
  background: #ffffff; }

.PoetAvatar {
  display: block;
  height: 200px;
  width: 200px;
  border: 2px solid #000000;
  border-radius: 100px;
  background-color: #000000;
  background-size: cover;
  background-position: center center;
  margin: 0 auto 10px auto;
  transition: background 300ms ease; }

.PoetName {
  font-weight: bolder;
  font-size: 40px;
  font-weight: 500;
  font-family: "Programme Alt"; }

.Poet span {
  display: none;
  margin: 10px 0;
  color: #010101;
  font-weight: normal !important; }
