/* Gibson - Primary Font */
@font-face {
  font-family: "Gibson";
  font-weight: normal;
  font-style: normal;
  src: url("./Gibson/Gibson-Regular.woff2") format("woff2"),
    url("./Gibson/Gibson-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gibson";
  font-weight: normal;
  font-style: italic;
  src: url("./Gibson/Gibson-RegularItalic.woff2") format("woff2"),
    url("./Gibson/Gibson-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Gibson";
  font-weight: bold;
  font-style: normal;
  src: url("./Gibson/Gibson-Bold.woff2") format("woff2"),
    url("./Gibson/Gibson-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gibson";
  font-weight: bold;
  font-style: italic;
  src: url("./Gibson/Gibson-BoldItalic.woff2") format("woff2"),
    url("./Gibson/Gibson-BoldItalic.woff") format("woff");
}

/* GDSage - Headers and Titles */
@font-face {
  font-family: "GD-Sage";
  src: url("./GDSage/8a86b3e611f41da6ca263bf6c73dc65b.woff2") format("woff2"),
    url("./GDSage/8a86b3e611f41da6ca263bf6c73dc65b.woff") format("woff");
}
