.PoemPageContainer {
  padding: 100px 0; }

.PoemContents {
  padding: 40px 180px; }

.PoemContents .PoemSplitSides {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  position: relative; }

.PoemContents .PoemTextContainer.is-guide {
  background: transparent !important; }

.PoemContents .PoemTextContainer,
.PoemContents .PoemTextContainer * {
  font-size: 16px; }

.PoemContents .PoemTextContainer *,
.PoemContents .PoemSplitSides .AnnotationsContainer {
  font-family: "Roboto"; }

.PoemContents p {
  color: #000000 !important; }

.PoemContents .PoemSplitSides .AnnotationsContainer {
  padding: 10px 20px;
  border-left: 4px solid #1436ad;
  height: fit-content;
  font-weight: 600;
  transition: transform 300ms ease;
  position: relative;
  background: rgba(0, 0, 0, 0.05); }

.PoemContents .SideButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px; }

.PoemContents .SideButtons {
  position: absolute;
  transform: translateX(calc(-100% + -30px));
  transition: transform 300ms ease; }

.PoemContents .SideButtons button {
  display: grid;
  place-items: center;
  align-items: center;
  border: none;
  background: transparent;
  padding: 0;
  color: #000000;
  position: relative; }

.PoemContents .SideButtons button:hover:not(.Eye) svg {
  transform: translateY(-5px); }

.PoemContents .SideButtons button svg {
  height: 28px;
  fill: #000000;
  stroke: #000000;
  transition: transform 300ms ease; }

.PoemContents .SideButtons button.Heart svg {
  fill: orangered;
  stroke: orangered; }

.PoemContents .SideButtons button.Bookmark svg {
  fill: black;
  stroke: black; }

.PoemContents .SideButtons button span {
  display: block;
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
  transform: translateX(5px);
  letter-spacing: 0; }

.PoemContents .PoemTextContainer {
  padding: 20px;
  color: #000;
  background: #eee; }

.PoemContents .PoemTextContainer a {
  text-decoration-thickness: 3px;
  background: #ebc952; }

.PoemContents .PoemInformation {
  padding: 0 20px; }

.PoemContents .PoemTags {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  padding-left: 20px; }

.PoemContents .PoemTags a {
  display: inline-block;
  padding: 2px 5px;
  background: #ebc952;
  text-decoration-thickness: 4px; }

.PoemContents .PoemTextContainer h1,
.PoemContents .PoemTextContainer h2,
.PoemContents .PoemTextContainer h3,
.PoemContents .PoemTextContainer h4,
.PoemContents .PoemTextContainer h5,
.PoemContents .PoemTextContainer h6 {
  background: transparent;
  padding: 0;
  margin: 0;
  font-weight: 900; }

.PoemContents .PoemTextContainer h1 {
  font-size: 40px;
  background-color: transparent;
  text-indent: 0;
  color: #000000; }

.PoemContents .PoemTextContainer h2 {
  font-size: 30px; }

.PoemContents .PoemTextContainer h3 {
  font-size: 25px; }

.PoemContents .PoemTextContainer a {
  font-weight: bold; }

.PoemActions a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  user-select: none !important; }

.CommentsSection .CommentsSectionHeader {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  background: #000000; }

.CommentsSection .CommentsSectionHeader span {
  font-family: "Programme Alt", "Roboto", sans-serif; }

.CommentsSection .CommentsSectionHeader span.Name {
  font-size: 30px; }
