@import "../../variables.scss";

.PoemPageContainer {
  padding: 118px 0;
}

.PoemContents {
  padding: 40px $PAGE_MARGINS;
}

.PoemContents .PoemSplitSides {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  position: relative;
}

.PoemContents .PoemTextContainer,
.PoemContents .PoemTextContainer * {
  font-size: 20px;
  font-weight: 500;
  // font-style: italic;
  // font-family: "Roboto";
}

// ANNOTATIONS CONTAINER
.PoemContents .PoemSplitSides .AnnotationsContainer {
  padding: 10px $PADDING;
  border-left: 4px solid $PRIMARY_COLOR;
  height: fit-content;
  font-weight: 600;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text",
    "Times New Roman", serif;
  font-style: italic;
  transition: transform 300ms ease;
  position: relative;
  background: transparentize($TEXT_COLOR_DARK, 0.95);
}

// SIDE BUTTONS FOR ACTIONS TO DO SOME ACTION ON THE POEM
.PoemContents .SideButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.PoemContents .SideButtons {
  position: absolute;
  transform: translateX(calc(-100% + -30px));
  transition: transform 300ms ease;
}

.PoemContents .SideButtons button {
  display: grid;
  place-items: center;
  align-items: center;
  border: none;
  background: transparent;
  padding: 0;
  color: $TEXT_COLOR_DARK;
  position: relative;
}

.PoemContents .SideButtons button:hover:not(.Eye) svg {
  transform: translateY(-5px);
}

.PoemContents .SideButtons button svg {
  height: 30px;
  fill: $TEXT_COLOR_DARK;
  stroke: $TEXT_COLOR_DARK;
  transition: transform 300ms ease;
}

// SIDE BUTTON ICONS
.PoemContents .SideButtons button.Heart svg {
  fill: orangered;
  stroke: orangered;
}

.PoemContents .SideButtons button.Bookmark svg {
  fill: black;
  stroke: black;
}

.PoemContents .SideButtons button span {
  display: block;
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
  transform: translateX(6px);
  letter-spacing: 0;
}

.PoemContents .PoemTextContainer {
  padding: 20px;
  background: #fff;
  // font-style: italic;
  font-family: "Baskerville Old Face", "Times New Roman", serif;
}

.PoemContents .PoemTextContainer a {
  text-decoration-thickness: 3px;
  background: $SECONDARY_COLOR;
  font-family: "Baskerville Old Face", "Times New Roman", serif;
}

.PoemContents .PoemInformation {
  padding: 0 $PADDING;
}

// POEM TAG ITEMS
.PoemContents .PoemTags {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.PoemContents .PoemTags a {
  display: inline-block;
  padding: 2px 5px;
  background: $SECONDARY_COLOR;
  text-decoration-thickness: 4px;
}

h1 {
  background-color: transparent;
  color: $TEXT_COLOR_LIGHT;
  border-top: $BORDER;
  border-bottom: $BORDER;
  text-indent: 0;
  color: $TEXT_COLOR_DARK;
}
