.ProfileContentsDropdown {
  width: 100%; }

.ProfileContentsDropdown .DropdownHeader {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 20px;
  border-bottom: 1px solid #000000;
  gap: 20px; }

.ProfileContentsDropdown .DropdownHeader svg {
  height: 25px;
  transform: translateY(-5px); }

.ProfileContentsDropdown .DropdownHeader span {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; }
