.ProfilePage {
  display: flex;
  margin-top: 50px; }

.ProfilePage .PageContents {
  flex: 1;
  margin-left: 40px;
  border-bottom: 4px solid #1436ad;
  padding-bottom: 20px; }

.ProfilePage .ProfileAvatar {
  height: 150px;
  width: 150px;
  border: 3px solid #000000;
  border-width: 1px;
  border-radius: 100px;
  background-size: cover;
  background-position: center; }

.ProfilePage .ProfileAvatar[data-ischangeable=true]::after,
.ProfilePage .ProfileAvatar[data-isviewable=true]::after {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-weight: 900;
  border-radius: 100px;
  opacity: 0;
  transition: opacity 200ms ease-out;
  cursor: pointer; }

.ProfilePage .ProfileAvatar[data-ischangeable=true]::after {
  content: "Upload Avatar"; }

.ProfilePage .ProfileAvatar[data-isviewable=true]::after {
  content: "View Avatar"; }

.ProfilePage .ProfileAvatar:hover::after {
  opacity: 1; }

.ProfilePage .PageContents .ProfileName .Name {
  display: inline-block;
  background: #ebc952;
  font-size: 60px;
  line-height: 20px;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: "Programme Alt", Programme, "Roboto", Arial, sans-serif; }

.ProfilePage .ProfileBiography {
  display: flex;
  align-items: center;
  gap: 20px; }

.ProfilePage .ProfileBiography span {
  opacity: 0.8; }

.ProfilePage .ProfileHeaderButtons {
  display: flex;
  margin-top: 20px;
  gap: 10px; }

.ProfilePage .ProfileStats {
  display: flex;
  align-items: center;
  margin-top: 20px; }

.ProfilePage .ProfileStats a {
  display: block;
  padding: 0 20px 0 20px;
  border-right: 2px solid #ddd; }

.ProfilePage .ProfileStats a:first-child {
  padding-left: 0; }

.ProfilePage .ProfileStats a:last-child {
  border-right: none; }

.PoetProfileContents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 40px; }

.PoetProfileContents h1 {
  text-align: center;
  width: 70vw; }

.FollowButton svg {
  stroke-width: 4px !important; }
