@import "../../variables.scss";

.PoemInputContainer:focus-within input,
.PoemInputContainer:focus-within textarea {
  border-color: $SECONDARY_COLOR;
}

.PoemInputTitle,
.PeomInput {
  text-indent: 0 !important;
}

.PoemInputTitle {
  border-bottom: none;
  font-size: 50px;
  font-family: "GD-Sage";
  width: 100%;
  text-overflow: clip;
  color: $PRIMARY_COLOR;
}

.PeomInput {
  width: 100%;
  max-width: 100%;
  border-top: none;
}

/* Buttons section */
.Buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
