@import "../../variables.scss";

.PoemInputContainer:focus-within input,
.PoemInputContainer:focus-within textarea {
  border-color: $TEXT_COLOR_DARK;
}

.PoemInputTitle,
.PoemInput {
  text-indent: 0 !important;
}

.PoemInputTitle {
  border-bottom: none;
  font-size: 50px;
  font-family: "Programme Alt";
  width: 100%;
  text-overflow: clip;
  color: $PRIMARY_COLOR;
}

.PoemInput {
  border-top: none;
  font-style: italic;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.PoemTagsInput {
  display: block;
  width: 100%;
  border-top: $BORDER;
}

/* Buttons section */
.Buttons {
  justify-content: space-between;
}

.Buttons,
.Buttons section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
