.Comment {
  display: flex;
  border-bottom: 1px solid darkgrey;
  padding: 10px 0; }

.Comment .CommentBody {
  width: 100%; }

.CommentActions {
  display: flex;
  gap: 10px; }

.CommentActionButtons {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  transform: translateY(-3px); }

.CommentActionButtons > div {
  height: 20px;
  user-select: none !important; }

.CommentActionButtons svg:hover {
  cursor: pointer; }

.CommentActionButtons .Like svg {
  height: 22px; }

.CommentActionButtons .Like[data-isliked="true"] svg {
  fill: #1436ad; }

.CommentActionButtons .Like:hover svg {
  fill: #1436ad; }

.CommentActionButtons .Flag svg {
  transform: translateY(2px) translateX(2.5px); }

.CommentActionButtons .Flag:hover svg {
  fill: orangered; }

.CommentMoreActions {
  margin-top: 10px; }

.CommentMoreActions a {
  margin: 0 5px; }

.CommentorNameDate {
  display: inline-block; }

.CommentorNameDate a {
  font-weight: 900;
  color: #1436ad; }

.Comment textarea {
  width: 100%;
  border-bottom: 3px solid #000000; }

.Comment textarea:focus {
  border-color: #ebc952; }
