@import "../../variables.scss";

.DropdownLinkItems *,
.DropdownItemsHeader * {
	color: #000 !important;
}

.DropdownItemsHeader  {
	text-align: center !important;
}

.DropdownLinkItems a.SignOut {
	color: $DANGER_COLOR !important;
}

.RebbelStatus {
	display: inline-block;
	height: 10px;
	width: 10px;
	background: $SUCCESS_COLOR;
	border-radius: 2px;
	margin-left: 5px;
}

.RebbelName {
	font-size: small;
	font-weight: 900;
	margin-left: 10px;
}

.HeaderSectionName svg {
	stroke-width: 4px;
}