@import "../../variables.scss";

.DraftPreview {
  width: 100%;
}

.DraftPreview .DraftTitle {
  font-size: 40px;
  font-family: "Programme Alt", $FONT_FAMILY;
  text-transform: lowercase;
}

.DraftPreview .DraftSplitSides {
  display: flex;
  margin-top: $PADDING;
  gap: 40px;
}

.DraftPreview .DraftContents {
  padding-bottom: 60px;
  font-style: italic;
}

.DraftPreview .DraftContents img {
  width: 100%;
}

.DraftPreview .DraftContents * {
  margin: 0;
  font-size: 18px;
}

.DraftPreview .DraftContents a {
  text-decoration-thickness: 3px;
  background: $SECONDARY_COLOR;
  font-weight: bolder;
}

.DraftPreview .DraftAnnotations {
  border-left: $BORDER;
  padding-left: 20px;
}

.DraftPreview .BottomButtons {
  position: absolute;
  bottom: 0;
  width: 94%;
  padding: 20px 0;
  // transform: translateY(-50%);
}

.DraftPreview .BottomButtons input {
  display: block;
  border: $BORDER;
  width: calc(90%);
}
