@import "../variables.scss";

/* Flex Items */
.flex {
  display: flex;
  align-items: center;
  gap: $PADDING;
}

.flex.space-between {
  justify-content: space-between;
}

.flex-space {
  flex: 5;
}
