.Footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 30px 180px 40px 180px;
  border-top: 2.5px solid #000000; }

.Footer .BrandName {
  display: block;
  margin-bottom: 10px; }

.Footer .Legal {
  color: #4d4d4d; }

.Footer section:not(:first-child) a {
  display: block;
  margin: 10px 0; }

section.LeftSection {
  max-width: 400px; }

section .SectionName {
  margin-bottom: 20px; }

.Attribution {
  width: 100%;
  margin: 20px;
  text-align: center;
  font-size: small;
  opacity: 0.5; }
