@import "../../variables.scss";

.Footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 30px $PAGE_MARGINS 40px $PAGE_MARGINS;
  border-top: $BORDER;
}

.Footer .BrandName {
  display: block;
  margin-bottom: 10px;
}

.Footer .Legal {
  color: lighten($TEXT_COLOR_DARK, 30%);
}

.Footer section:not(:first-child) a {
  display: block;
  margin: 10px 0;
}

section.LeftSection {
  max-width: 400px;
}

section.LeftSection img {
  border-radius: 10px;
  margin-bottom: 20px;
}

section .SectionName {
  margin-bottom: 20px;
}

.Attribution {
  width: 100%;
  margin: 20px;
  text-align: center;
  font-size: small;
  opacity: 0.5;
}
