@import "./variables.scss";
@import "./utils/utils.css";

/* Browser resets */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $BACKGROUND_COLOR;
}

* {
  outline: none;
  box-sizing: border-box;
  font-family: $FONT_FAMILY;
  font-size: $FONT_SIZE;
}

*::selection {
  background-color: $PRIMARY_COLOR;
  color: $TEXT_COLOR_LIGHT;
}

/* Anchor tags */
a {
  text-decoration: none;
  color: $TEXT_COLOR;
  transition: color 300ms ease;
  font-weight: 500;
  cursor: pointer;
}

a:hover {
  color: $PRIMARY_COLOR;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  padding: 10px 20px 0 20px;
  font-family: "GD-Sage";
  margin-bottom: 0;
  background-color: $SECONDARY_COLOR;
  word-wrap: break-word;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

/* Paragraph content */
p {
  color: lighten($TEXT_COLOR_DARK, 25%);
}

*.danger {
  color: $DANGER_COLOR !important;
}

p.success {
  color: $SUCCESS_COLOR;
}

/* Inputs */
input,
.input,
textarea {
  border: $BORDER;
  border-bottom: 4px solid $TEXT_COLOR_DARK;
  background: $TEXT_COLOR_LIGHT;
  padding: 10px;
  transition: border-color 300ms ease;
}

input:focus,
.input:focus-within,
.input:focus,
textarea:focus {
  border-color: $SECONDARY_COLOR;
  border-bottom-color: $PRIMARY_COLOR;
}

/* Buttons */
button,
.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px $PADDING;
  border-radius: 5px;
  border: $BORDER;
  background: $PRIMARY_COLOR;
  border-color: $PRIMARY_COLOR;
  color: $TEXT_COLOR_LIGHT;
  font-size: 14px;
  font-weight: bold;
  transition: background 300ms ease;
  cursor: pointer;
}

button span,
.button span {
  font-size: small;
  font-weight: bold;
}

button:hover,
.button:hover {
  background: $SECONDARY_COLOR;
  color: $TEXT_COLOR_DARK;
}

button.outline,
.button.outline {
  background-color: $TEXT_COLOR_LIGHT;
  border: $BORDER;
  color: $TEXT_COLOR;
}

/* Page container */
.page-container {
  padding: 140px $PAGE_MARGINS $PADDING $PAGE_MARGINS;
  position: relative;
}

// BACKLIGHT
.backlight {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}

// HEADER
.navigation-item {
  border-bottom: 4px dashed transparent;
  transform: translateY(4px);
}
.navigation-item.active {
  color: $PRIMARY_COLOR;
  border-color: $PRIMARY_COLOR;
}

.navigation-item.dropdown .dropdown-options-backlight {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: transparentize($TEXT_COLOR_DARK, 0.5);
  z-index: calc(100000000 - 2);
  top: 0;
  left: 0;
}

.navigation-item.dropdown .dropdown-options {
  padding: block;
  border: $BORDER;
  border-radius: 8px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  background: $BACKGROUND_COLOR;
  transform: translateY(100%) translateX(-50%);
  width: 200px;
  font-weight: normal;
  z-index: 100000;
}

.navigation-item.dropdown .dropdown-options::before {
  content: "";
  display: block;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: $TEXT_COLOR_DARK;
  z-index: -10;
}

.navigation-item .dropdown-options::after {
  content: "";
  display: block;
  height: 13px;
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $BACKGROUND_COLOR;
}

.navigation-item.dropdown .dropdown-options section,
.navigation-item.dropdown .dropdown-options section a {
  display: block !important;
}

.navigation-item.dropdown .dropdown-options section {
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid #555;
}

.navigation-item.dropdown .dropdown-options section a,
.navigation-item.dropdown .dropdown-options section span {
  padding: 5px $PADDING;
  margin: 0;
}

.navigation-item.dropdown .dropdown-options section span {
  text-align: center;
}

// AVATAR
// .avatar {
// }

.small-avatar {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background: #333;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1.5px solid $PRIMARY_COLOR;
}

/* Tags */
.tags {
  margin: 10px 0;
  gap: 5px;
}

.tags .tag {
  padding: 5px;
  float: lef;
  background-color: $SECONDARY_COLOR;
  color: $TEXT_COLOR_DARK;
  font-size: 12px;
  font-weight: bold;
  transform: translateY(-4px);
  cursor: pointer;
  transition: background-color 300ms ease;
}

/* Form container */
.form {
  width: 60%;
  margin: 0 auto;
}

.form h1 {
  text-align: center;
}

.form button {
  width: 100%;
  display: grid;
  place-items: center;
}

.form input {
  margin-bottom: 10px;
}

.form input:focus {
  border-color: $TEXT_COLOR_DARK;
}

// LOADER
.loader-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 2000000000;
  background: transparentize($TEXT_COLOR_DARK, 0.1);
  transition: all 300ms ease;
  pointer-events: none;
}

.loader-container[data-isVisible="true"] {
  opacity: 1;
  pointer-events: none;
}
