@import "./variables.scss";
@import "./utils/utils.css";

/* Browser resets */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $BACKGROUND_COLOR;
}

* {
  outline: none;
  box-sizing: border-box;
  font-family: $FONT_FAMILY;
  font-size: $FONT_SIZE;
}

*::selection {
  background-color: $PRIMARY_COLOR;
  color: $TEXT_COLOR_LIGHT;
}

/* Anchor tags */
a {
  text-decoration: none;
  color: $TEXT_COLOR;
  transition: color 300ms ease;
  font-weight: 500;
  cursor: pointer;
}

a:hover {
  color: $PRIMARY_COLOR;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  padding: 10px 20px 0 20px;
  font-family: "GD-Sage";
  margin-bottom: 0;
  background-color: $SECONDARY_COLOR;
  word-wrap: break-word;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

/* Paragraph content */
p {
  color: lighten($TEXT_COLOR_DARK, 25%);
}

p.danger {
  color: $DANGER_COLOR;
}

p.success {
  color: $SUCCESS_COLOR;
}

/* Inputs */
input,
.input,
textarea {
  border: $BORDER;
  border-bottom: 4px solid $TEXT_COLOR_DARK;
  background: $TEXT_COLOR_LIGHT;
  padding: 10px;
  transition: border-color 300ms ease;
}

input:focus,
.input:focus-within,
.input:focus,
textarea:focus {
  border-color: $SECONDARY_COLOR;
  border-bottom-color: $PRIMARY_COLOR;
}

/* Buttons */
button,
.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px $PADDING;
  border-radius: 0;
  border: $BORDER;
  background: $PRIMARY_COLOR;
  border-color: $PRIMARY_COLOR;
  color: $TEXT_COLOR_LIGHT;
  font-size: small;
  font-weight: bold;
  transition: background 300ms ease;
  cursor: pointer;
}

button span,
.button span {
  font-size: small;
  font-weight: bold;
}

button:hover,
.button:hover {
  background: $SECONDARY_COLOR;
  color: $TEXT_COLOR_DARK;
}

button.outline,
.button.outline {
  background-color: $TEXT_COLOR_LIGHT;
  border: $BORDER;
  color: $TEXT_COLOR;
}

/* Page container */
.page-container {
  padding: 140px $PAGE_MARGINS $PADDING $PAGE_MARGINS;
}

/* Tags */
.tags {
  margin: 10px 0;
  gap: 5px;
}

.tags .tag {
  padding: 5px;
  float: lef;
  background-color: $SECONDARY_COLOR;
  color: $TEXT_COLOR_DARK;
  font-size: 12px;
  font-weight: bold;
  transform: translateY(-4px);
  cursor: pointer;
  transition: background-color 300ms ease;
}

/* Form container */
.form {
  width: 60%;
  margin: 0 auto;
}

.form h1 {
  text-align: center;
}

.form button {
  width: 100%;
  display: grid;
  place-items: center;
}

.form input {
  margin-bottom: 10px;
}

.form input:focus {
  border-color: $TEXT_COLOR_DARK;
}

// LOADER
.loader-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 2000000000;
  background: transparentize($TEXT_COLOR_DARK, 0.1);
  transition: all 300ms ease;
  pointer-events: none;
}

.loader-container[data-isVisible="true"] {
  opacity: 1;
  pointer-events: none;
}
