@import url(./utils/utils.css);
/* Browser resets */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6edec; }

* {
  outline: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px; }

*::selection {
  background-color: #1436ad;
  color: #ffffff; }

/* Anchor tags */
a {
  text-decoration: none;
  color: #000000;
  transition: color 300ms ease;
  font-weight: 500;
  cursor: pointer; }

a:hover {
  color: #1436ad;
  text-decoration: underline;
  text-decoration-thickness: 5px; }

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  padding: 10px 20px 0 20px;
  font-family: "GD-Sage";
  margin-bottom: 0;
  background-color: #ebc952;
  word-wrap: break-word; }

h1 {
  font-size: 70px; }

h2 {
  font-size: 50px; }

h3 {
  font-size: 40px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 20px; }

/* Paragraph content */
p {
  color: #404040; }

p.danger {
  color: orangered; }

p.success {
  color: green; }

/* Inputs */
input,
.input,
textarea {
  border: 2px solid #000000;
  border-bottom: 4px solid #000000;
  background: #ffffff;
  padding: 10px;
  transition: border-color 300ms ease; }

input:focus,
.input:focus-within,
.input:focus,
textarea:focus {
  border-color: #ebc952;
  border-bottom-color: #1436ad; }

/* Buttons */
button,
.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  border-radius: 0;
  border: 2px solid #000000;
  background: #1436ad;
  border-color: #1436ad;
  color: #ffffff;
  font-size: small;
  font-weight: bold;
  transition: background 300ms ease;
  cursor: pointer; }

button span,
.button span {
  font-size: small;
  font-weight: bold; }

button:hover,
.button:hover {
  background: #ebc952;
  color: #000000; }

button.outline,
.button.outline {
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #000000; }

/* Page container */
.page-container {
  padding: 140px 180px 20px 180px; }

/* Tags */
.tags {
  margin: 10px 0;
  gap: 5px; }

.tags .tag {
  padding: 5px;
  float: lef;
  background-color: #ebc952;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  transform: translateY(-4px);
  cursor: pointer;
  transition: background-color 300ms ease; }

/* Form container */
.form {
  width: 60%;
  margin: 0 auto; }

.form button {
  width: 100%;
  display: grid;
  place-items: center; }

.form input {
  margin-bottom: 10px; }

.form input:focus {
  border-color: #000000; }
