$PRIMARY_COLOR: #1436ad;
$SECONDARY_COLOR: #ebc952;
$TERTIARY_COLOR: #000000;
$BACKGROUND_COLOR: #f6edec;
$TEXT_COLOR_DARK: #000000;
$TEXT_COLOR_LIGHT: #ffffff;
$TEXT_COLOR: $TEXT_COLOR_DARK;

$BORDER: 2px solid $TERTIARY_COLOR;
$PADDING: 20px;
$PAGE_MARGINS: 180px;

$FONT_FAMILY: "Helvetica Neue", sans-serif;
$FONT_SIZE: 16px;
