$PRIMARY_COLOR: #1436ad;
$SECONDARY_COLOR: #ebc952;
$TERTIARY_COLOR: #000000;
$BACKGROUND_COLOR: #EEE;
$TEXT_COLOR_DARK: #000000;
$TEXT_COLOR_LIGHT: #ffffff;
$SUCCESS_COLOR: green;
$DANGER_COLOR: orangered;
$TEXT_COLOR: $TEXT_COLOR_DARK;

$BORDER: 3px solid $TERTIARY_COLOR;
$SHADOW: 1px 1px 8px rgba($TEXT_COLOR, 0.1);
$PADDING: 20px;
$PAGE_MARGINS: 180px;

$FONT_FAMILY: "Roboto", Programme, Arial, sans-serif;
$FONT_SIZE: 15px;
