.Poem {
  display: flex;
  background-size: cover;
  background-position: top;
  background: #333;
  justify-content: flex-end; }

.PoemContents {
  padding: 20px;
  background: linear-gradient(0deg, #000000, #000000, #000000, #000000, #000000, #000000, #000000, transparent);
  color: #ffffff; }

.PoemContents .PoemTitle {
  display: block;
  font-size: 25px;
  font-weight: 900;
  font-family: "Programme Alt", "Helvetica Neue", sans-serif;
  opacity: 1 !important;
  text-transform: capitalize; }

.PoemContents .PoemAuthor {
  display: block;
  margin-top: 5px; }

.PoemContents a {
  font-weight: bold;
  color: #ffffff; }

.PoemContents a:hover {
  color: #ebc952; }

.PoemContents .PoemSnapshot {
  display: block;
  margin-top: 10px;
  opacity: 0.7; }
