@import "../../variables.scss";

.Poem {
  display: flex;
  background-size: cover;
  background-position: top;
  background: #333;
  justify-content: flex-end;
}

// CONTENTS
.PoemContents {
  padding: $PADDING;
  background: linear-gradient(0deg, $TEXT_COLOR_DARK, $TEXT_COLOR_DARK, $TEXT_COLOR_DARK, $TEXT_COLOR_DARK, $TEXT_COLOR_DARK, $TEXT_COLOR_DARK, $TEXT_COLOR_DARK, transparent);
  color: $TEXT_COLOR_LIGHT;
}

// POEM TITLE
.PoemContents .PoemTitle {
  display: block;
  font-size: 25px;
  font-weight: 900;
  font-family: "Programme Alt", $FONT_FAMILY;
  opacity: 1 !important;
  text-transform: capitalize;
}

// POEM AUTHOR
.PoemContents .PoemAuthor {
  display: block;
  margin-top: 5px;
}

.PoemContents a {
  font-weight: bold;
  color: $TEXT_COLOR_LIGHT
}

.PoemContents a:hover {
  color: $SECONDARY_COLOR;
}

// POEM SNAPSHOT
.PoemContents .PoemSnapshot {
  display: block;
  margin-top: 10px;
  // font-style: italic;
  opacity: 0.7;
}
