@import "../../variables.scss";

// THE MAIN POEM CONTAINER
.Poem {
  padding: $PADDING $PADDING;
}

// .Poem:nth-child(3n) {
//   border-right: 2px solid #DDD;
// }

// .Poem:hover {
//   border-top-color: $PRIMARY_COLOR;
// }

// THE POEM'S THUMBNAIL
.Poem .PoemThumbnail {
  display: block;
  height: 220px;
  width: 100%;
  background: #EEE;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
  border-radius: 10px;
}

// THE POEM READ TIME INDICATION
.Poem .PoemReadTime {
  display: none;
  text-transform: uppercase;
  font-size: small;
  opacity: .6;
  font-weight: bold;
  margin-bottom: 5px;
}

// THE POEM'S TITLE
.Poem .PoemTitle {
  font-weight: normal;
  font-size: larger;
}

// // THE POEM'S AUTHOR AND DATE PUBLISHED
// .Poem .PoemDetails .PoemAuthorTime {
//   color: #777;
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }

// .Poem .PoemDetails .PoemAuthorTime span {
//   color: $SECONDARY_COLOR;
// }

// // PREVENT SOME NATURE OF OTHER ELEMENTS ON THE DESCRIPTION
// .Poem .PoemDescription  {
//   * {
//     font-family: 'Courier New', Courier, monospace;
//   }

//   h1, h2, h3,
//   h4, h5, h6 {
//     font-size: $FONT_SIZE !important;
//   }
// }