/* GDSage - Headers and Titles */
/* @font-face {
  font-family: "Programme Alt";
  src: url("./GDSage/8a86b3e611f41da6ca263bf6c73dc65b.woff2") format("woff2"),
    url("./GDSage/8a86b3e611f41da6ca263bf6c73dc65b.woff") format("woff");
} */

@font-face {
  font-family: "Programme Alt";
  src: url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.eot");
  src: url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a4084c1b8de1174e1b0ba7dcaf5f0b02.svg#Programme Bold")
      format("svg");
}
